<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moongate.bantatc"
    android:versionCode="8"
    android:versionName="0.8" >
		<uses-permission 
			android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/bantatc2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".Adm_Pro"></activity>
        <activity android:name=".mantenedor_pro"></activity>
		<activity android:name=".reportes"></activity>
		<activity android:name=".Graficos"></activity>
    </application>

</manifest>